<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div class="container-fluid" style="box-shadow: 0 47px 74px -31px rgba(7, 40, 137, 0.19);">
    <div class="table-responsive">
        <div class="table-wrapper" style="width: fit-content">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-3">
                        <h2 style="margin: 0"><span th:text="#{usual.manage}"></span> <b th:text="#{usual.users}"></b></h2>
                    </div>
                    <div class="col-sm-4" sec:authorize="hasAnyAuthority('ADMIN_ROLE')">
                        <a href="#addUserModal" class="btn" data-toggle="modal"><i
                                class="material-icons">&#xE147;</i> <span th:text="#{user.add.new}"></span></a>
                        <span id="deleteAllSelected" hidden><a href="#deleteSelectedUsersModal" class="btn"
                                                               data-toggle="modal"><i
                                class="material-icons">&#xE15C;</i> <span th:text="#{usual.delete}"></span></a></span>
                    </div>
                    <div id="myTable_filter" class="col-sm-5">
                            <input type="search" class="" aria-controls="myTable" th:placeholder="#{filter.placeholder}"
                                   style="border: none; border-radius: 5px; margin: 4px 0 0 67%">
                    </div>
                </div>
            </div>

            <table id="myTable" class="table table-responsive-md table-striped table-hover">
                <thead>
                <tr>
                    <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                    </th>
                    <th th:text="#{user.photo}"></th>
                    <th th:text="#{user.username}"></th>
                    <th th:text="#{user.fullName}"></th>
                    <th th:text="#{usual.type}"></th>
                    <th th:text="#{user.group}"></th>
                    <th th:text="#{user.email}"></th>
                    <th th:text="#{user.phone}"></th>
                    <th th:text="#{user.role}"></th>
                    <th th:text="#{user.changeTo}"></th>
                    <th th:text="#{usual.actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${listUsers}">
                    <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" th:value="${user.getId()}"/>
								<label for="checkbox1"></label>
							</span>
                    </td>
                    <td>
                        <img alt="" class="rounded-circle avatar_crud z-depth-0 nav-image"
                             data-holder-rendered="true"
                             src="images/no-avatar.png"
                             th:if="${user.getProfileAvatar() == null}">
                        <img alt="" class="rounded-circle avatar_crud z-depth-0 nav-image"
                             data-holder-rendered="true"
                             th:if="${user.getProfileAvatar() != null}"
                             th:src="${'data:image/jpg;base64,' + @userServiceImpl.extractAvatarPicture(user)}">
                    </td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getFullName()}"></td>
                    <td th:text="${user.getUserType().getValueByLocale(#locale.getLanguage().toUpperCase())}"></td>
                    <td th:text="${user.getGroup().getValueByLocale(#locale.getLanguage().toUpperCase())}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getPhone()}"></td>
                    <td>
                        <span th:if="${user.isAdmin()}" th:text="#{user.admin}"></span>
                        <span th:if="${user.isAdmin()==false}" th:text="#{user.user}"></span>
                    </td>
                    <td>
                        <a th:if="${user.isAdmin()}" th:href="@{'/users/toUser/' + ${user.getId()}}"
                           th:text="#{user.user}"></a>
                        <a th:if="${user.isAdmin() == false}" th:href="@{'/users/toAdmin/' + ${user.getId()}}"
                           th:text="#{user.admin}"></a>
                    </td>
                    <td>
                        <a href="#editUserModal" class="edit" data-toggle="modal"><i class="material-icons"
                                                                                     data-toggle="tooltip"
                                                                                     title="Edit">&#xE254;</i></a>
                        <a href="#deleteUserModal" class="delete" data-toggle="modal"><i class="material-icons"
                                                                                         data-toggle="tooltip"
                                                                                         title="Delete">&#xE872;</i></a>
                        <input type="hidden" th:class="id" name="id" th:value="${user.getId()}"/>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
</div>

<!-- Add Modal HTML -->
<div id="addUserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="add-form" th:action="@{/users/create}" th:object="${user}">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{usual.add}"></h4><span> </span>
                    <h4 style="color: white; margin: 4px 0 0 5px;"> <b th:text="#{user.user}"></b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group required-input">
                        <label th:text="#{user.username}"></label>
                        <input type="text" th:field="*{username}" class="form-control"/>
                        <span hidden id="username-valid-title" th:text="#{user.username}"></span>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{user.fullName}"></label>
                        <input type="text" th:field="*{fullName}" class="form-control"/>
                        <span hidden id="full-name-valid-title" th:text="#{user.fullName}"></span>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{usual.type}"></label>
                        <select class="select form-control required-input" id="userType" name="userType"
                                th:name="userType">
                            <option th:each="userType : ${T(com.eureka.capstone.domain.user.UserType).values()}"
                                    th:value="${userType}"
                                    th:selected="${user.userType==userType}"
                                    th:text="${userType.getValueByLocale(#locale.getLanguage().toUpperCase())}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{user.group}"></label>
                        <select class="select form-control required-input" id="group" name="group"
                                th:name="group">
                            <option th:each="group : ${T(com.eureka.capstone.domain.user.Group).values()}"
                                    th:value="${group}"
                                    th:selected="${user.group == group}"
                                    th:text="${group.getValueByLocale(#locale.getLanguage().toUpperCase())}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group required-input input_div">
                        <label th:text="#{user.password}" for="password"></label>
                        <div class="input-group">
                            <input class="form-control"
                                   th:field="*{password}"
                                   id="password"
                                   name="password"
                                   type="password"/>
                            <span hidden id="password-valid-title" th:text="#{user.password}">
                            </span>
                            <div class="input-group-append">
                               <span class="input-group-text">
                                   <i aria-hidden="true" class="fa fa-eye-slash show-hide-password"></i>
                               </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required-input input_div">
                        <label th:text="#{user.confirmPassword}" for="confirmPassword"></label>
                        <div class="input-group">
                            <input class="form-control password-field required-input"
                                   th:field="*{confirmPassword}"
                                   id="confirmPassword"
                                   name="confirmPassword"
                                   type="password"/>
                            <span hidden id="confirm-password-valid-title"
                                  th:text="#{user.confirmPassword}">
                            </span>
                            <div class="input-group-append">
                               <span class="input-group-text">
                                   <i aria-hidden="true" class="fa fa-eye-slash show-hide-password"></i>
                               </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{user.email}"></label>
                        <input id="email" name="email" type="text" th:field="*{email}" class="form-control"/>
                        <span hidden id="email-valid-title" th:text="#{user.email}"></span>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{user.phone}"></label>
                        <input type="text" th:field="*{phone}" class="form-control"/>
                        <span hidden id="phone-valid-title" th:text="#{user.phone}"></span>
                    </div>
                </div>
                <div class="modal-footer activity-buttons btn-group" style="margin-left: 2px">
                    <button class="btn activity-whiteButton btn-default cancel-btn"
                            style="height: 50px;"
                            th:text="#{button.cancel}"
                            type="button" data-dismiss="modal"></button>
                    <button class="btn activity-main-button btn-success add-activity-btn"
                            style="height: 50px;
                                            border: 1px solid #DCDFF1;"
                            th:text="#{button.add}"
                            type="submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->
<div id="editUserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="edit-form" method="post" th:action="@{/users/edit}">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{usual.edit}"></h4><span> </span>
                    <h4 style="color: white; margin: 4px 0 0 5px;"> <b th:text="#{user.user}"></b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group required-input">
                        <label th:text="#{user.username}"></label>
                        <input id="edit-username" name="editUsername" type="text" class="form-control"/>
                        <span hidden id="edit-username-valid-title" th:text="#{user.username}"></span>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{user.fullName}"></label>
                        <input id="edit-fullName" name="editFullName" type="text" class="form-control"/>
                        <span hidden id="edit-full-name-valid-title" th:text="#{user.username}"></span>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{usual.type}"></label>
                        <select class="select form-control required-input"
                                id="edit-userType"
                                name="edit-userType"
                                th:name="edit-userType">
                            <option th:each="userType : ${T(com.eureka.capstone.domain.user.UserType).values()}"
                                    th:value="${userType}"
                                    th:selected="${user.userType==userType}"
                                    th:text="${userType.getValueByLocale(#locale.getLanguage().toUpperCase())}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{user.group}"></label>
                        <select class="select form-control required-input"
                                id="edit-group"
                                name="edit-group"
                                th:name="edit-group">
                            <option th:each="group : ${T(com.eureka.capstone.domain.user.Group).values()}"
                                    th:value="${group}"
                                    th:selected="${user.group == group}"
                                    th:text="${group.getValueByLocale(#locale.getLanguage().toUpperCase())}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{user.email}"></label>
                        <input id="edit-email" name="editEmail" type="text" class="form-control"/>
                        <span hidden id="edit-email-valid-title" th:text="#{user.username}"></span>
                    </div>
                    <div class="form-group required-input">
                        <label th:text="#{user.phone}"></label>
                        <input id="edit-phone" name="editPhone" type="text" class="form-control"/>
                        <span hidden id="edit-phone-valid-title" th:text="#{user.username}"></span>
                    </div>
                </div>
                <div class="modal-footer activity-buttons btn-group" style="margin-left: 2px">
                    <button class="btn activity-whiteButton btn-default cancel-btn"
                            style="height: 50px;"
                            th:text="#{button.cancel}"
                            type="button" data-dismiss="modal"></button>
                    <button class="btn activity-main-button btn-success add-activity-btn"
                            style="height: 50px;
                                            border: 1px solid #DCDFF1;"
                            th:text="#{button.update}"
                            type="submit"></button>
                    <input type="hidden" name="id" id="id-to-edit">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteUserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" th:action="@{/users/delete}">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{usual.delete}"></h4><span> </span>
                    <h4 style="color: white; margin: 4px 0 0 5px;"> <b th:text="#{user.user}"></b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p th:text="#{records.sure}"></p>
                    <p class="text-warning" th:text="#{records.action}"></p>
                </div>
                <div class="modal-footer activity-buttons btn-group" style="margin-left: 2px">
                    <button class="btn activity-whiteButton btn-default cancel-btn"
                            style="height: 50px;"
                            th:text="#{button.cancel}"
                            type="button" data-dismiss="modal"></button>
                    <button class="btn activity-main-button btn-success add-activity-btn"
                            style="height: 50px;
                                            border: 1px solid #DCDFF1;"
                            th:text="#{button.delete}"
                            type="submit"></button>
                    <input type="hidden" name="id" id="id-to-delete">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Selected Modal HTML -->
<div id="deleteSelectedUsersModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" th:action="@{/users/delete-selected}">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{usual.delete}"></h4><span> </span>
                    <h4 style="color: white; margin: 4px 0 0 5px;"> <b th:text="#{usual.users}"></b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p th:text="#{records.sure}"></p>
                    <p class="text-warning" th:text="#{records.action}"></p>
                </div>
                <div class="modal-footer activity-buttons btn-group" style="margin-left: 2px">
                    <button class="btn activity-whiteButton btn-default cancel-btn"
                            style="height: 50px;"
                            th:text="#{button.cancel}"
                            type="button" data-dismiss="modal"></button>
                    <button id="deleteAllSelectedButton" class="btn activity-main-button btn-success add-activity-btn"
                            style="height: 50px;
                                            border: 1px solid #DCDFF1;"
                            th:text="#{button.delete}"
                            type="submit"></button>
                    <input type="hidden" name="ids" id="ids-to-delete">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>