html {
    min-height: 100%;
    position: relative;
}

html, body {
    margin: 0;
    padding-bottom: 55px !important;
}

body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', "Times New Roman", sans-serif;
    font-size: 15px;
}

nav {
    height: 25.92px;
    margin: 27px 2.78% 0 30.72px;
}

.logo {
    /*min-width: 50px;*/
    width: 60px;
    /*left: -30.72px;*/
    height: 60px;
}

.flag {
    width: 26px;
    height: 15px;
    border-radius: 3px;
    margin: 1.38px;
    box-shadow: 1px -1px 2px grey;
}

main {
    margin-top: 60.48px;
}

.title-box {
    padding-left: 106px;
}

.headers {
    color: #233646;
    font-size: 34px;
    letter-spacing: 0;
    line-height: 44.92px;
    margin-bottom: 12.6px;
}

.title {
    font-size: 29.7px;
    /*line-height: 7vh;*/
}

.title-info {
    font-size: 23px;
    margin-bottom: 22.72px;
}

.buttons {
    height: 57px;
    width: 316.9px;
    margin-bottom: 46.39px;
}

.main_button {
    width: 70%;
    height: 100%;
    background: #07b7e3;
    color: #ffffff;
}

.whiteButton {
    color: #07b7e3;
    height: 100%;
    background-color: #ffffff;
}

#sign-up-btn:hover, #sign-in-btn:hover {
    box-shadow: 0 0 3px #07b7e3;
    color: #ffffff;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color, background-color;
}


.buttons .btn {
    letter-spacing: 0;
    text-align: center;
}

.buttons .btn:focus {
    box-shadow: none;
}

.info-text {
    text-align: justify;
    height: 14.16%;
    opacity: 0.85;
    color: #4d718d;
    font-size: 16.9px;
    line-height: 25.92px;
    margin-bottom: 12.6px;
}

.info-text p {
    width: 82.1%;
}

.location-info {
    color: #333333;
    font-weight: bold;
    line-height: 13.82px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.info-footer {
    color: #233646;
    height: 75.9px;
    bottom: 86.4px;
    z-index: -1;
}

.info-footer h4 {
    font-size: 22.28px;
    font-weight: bolder;
    color: #233646;
}

.info-footer .hours {
    width: 368.6px;
    color: #233646;
}

.footer p {
    font-size: 15.36px;
}

.info-footer h6 {
    font-size: 15.36px;
    color: #a1a3a8;
    margin-right: 49px;
}

.container-fluid {
    padding-left: 45px;
}

/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 5px;
    border: none;
    font-size: 14px;
}
.modal .modal-footer {
    border: none;
    border-radius: 0 0 3px 3px;
}
.modal .modal-header {
    background: #07b7e3;
    border-radius: 5px 5px 0 0;
}
.modal .modal-title {
    display: inline-block;
    color: white;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal form label {
    font-weight: normal;
}