html {
    min-height: 100%;
    position: relative;
}

html, body {
    margin: 0;
    padding-bottom: 55px !important;
}

body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', "Times New Roman", sans-serif;
    font-size: 15px;
}

nav {
    height: 25.92px;
    margin: 27px 2.78% 0 30.72px;
}

.logo {
    width: 60px;
    height: 60px;
}

.flag {
    width: 31.2px;
    height: 18px;
    border-radius: 3px;
    margin: 1.39px;
    box-shadow: 1px -1px 2px grey;
}

#sign-in-btn:hover {
    box-shadow: 0 0 3px #07b7e3;
    color: #ffffff;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color, background-color;
}

.container-fluid {
    padding-left: 45px;
}

.shadowedContainer {
    border-radius: 11px;
    box-shadow: 0 23px 37px 0 rgba(0, 96, 167, 0.35);
    padding: 0 36.55px;
    color: #202842;
}

.shadowedHeader {
    color: #202842;
    font-size: 22.08px;
    text-align: center;
    padding: 27.52px 65.74px 0 65.74px;
}

.shadowedSubheader {
    font-size: 14.9px;
    margin: 20.2px 58.67px 0 58.67px;
    text-align: center;
}

.shadowedInput {
    width: 100%;
    border-radius: 3px;
    margin: 20.2px 0;
}

.blue_button {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    background: #07b7e3;
    border: unset;
    color: white;
    margin-top: 4%;
    margin-bottom: 10%;
}

.blue_button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(0, 96, 167, 0.35);
    background-color: #07b7e3;
}

.blue_button:active, .btn-primary:not(:disabled):not(.disabled):active.blue_button:active, .blue_button:focus {
    background-color: #07b7e3;
    border-color: #07b7e3;
    box-shadow: 0 0 5px #07b7e3 !important;
}

.alert-icon {
    color: red;
    height: 20px;
    width: 20px;
    position: relative;
    margin-right: 2%;
}

.error {
    color: red;
    line-height: 100%;
    width: 90%;
}