<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container main-container" th:fragment="main-container">
    <p class="my-profile" th:text="#{issue.edit}"></p>
    <button aria-label="Close" class="close custom-close" style="font-size: 32px;" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <form id="form" th:action="@{/issues/edit}" th:method="post" th:object="${issue}">
        <div class="lds-dual-ring"></div>
        <div class="container" style="margin-right: auto;">
            <input type="hidden" th:class="id" name="id" th:value="${issue.getId()}"/>
            <main class="row" id="main-container">
                <div class="col-5 margin-left-5">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group" style="margin-top: 20px;">
                                <label class="control-label required_label" for="product"
                                       th:text="#{issue.product}"></label>
                                <select class="select form-control required-input" id="product" name="product"
                                        th:value="${issue.productId}">
                                    <option th:each="product : ${@productServiceImpl.getAllProducts()}"
                                            th:value="${product.getId()}"
                                            th:selected="${issue.productId == product.getId()}"
                                            th:text="${product.getName()}">
                                    </option>
                                </select>
                                <span hidden id="full-name-valid-titlem" th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label required_label" for="subsystem"
                                       th:text="#{issue.subsystem}"></label>
                                <input type="hidden" th:value="${issue.subSystemId}" id="subsystem-id"/>
                                <select class="select form-control required-input" id="subsystem" name="subsystem">
                                </select>
                                <span hidden id="full-name-valid-titlemm" th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label required_label" for="release-version"
                                       th:text="#{issue.release.version}"></label>
                                <input type="hidden" th:value="${issue.releaseVersionId}" id="release-version-id"/>
                                <select class="select form-control required-input" id="release-version" name="release-version">
                                </select>
                                <span hidden id="full-name-valid-titlemmm" th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label required_label" for="report-date"
                                       th:text="#{issue.date.reported}"></label>
                                <input class="form-control datepicker bg-white date required-input"
                                       id="report-date"
                                       name="report-date"
                                       th:value="${issue.reportDate}"
                                       th:placeholder="#{date.placeholder}"
                                       type="date"/>
                                <span hidden id="full-name-valid-titlemmmm" th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label" for="fix-date"
                                       th:text="#{issue.date.fixed}"></label>
                                <input class="form-control datepicker bg-white date required-input"
                                       id="fix-date"
                                       name="fix-date"
                                       th:value="${issue.fixDate}"
                                       th:placeholder="#{date.placeholder}"
                                       type="date"/>
                                <span hidden id="full-name-valid-t" th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label" for="close-date"
                                       th:text="#{issue.date.closed}"></label>
                                <input class="form-control datepicker bg-white date required-input"
                                       id="close-date"
                                       name="close-date"
                                       th:value="${issue.closeDate}"
                                       th:placeholder="#{date.placeholder}"
                                       type="date"/>
                                <span hidden id="full-name-valid-titm" th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label" for="found-in-the-field"
                                       th:text="#{issue.found.in.the.field}"></label>
                                <input name="found-in-the-field"
                                       id="found-in-the-field"
                                       th:checked="${issue.isFoundInTheField}"
                                       th:value="${issue.isFoundInTheField}"
                                       onclick="this.value = this.checked"
                                       type="checkbox"/>
                                <span hidden th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 margin-left-5" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label th:text="#{issue.report.source}"></label>
                                <input class="form-control"
                                       name="report-source"
                                       id="report-source"
                                       th:value="${issue.reportSource}"
                                       type="text"/>
                                <span hidden th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label" for="status"
                                       th:text="#{issue.status}"></label>
                                <select class="select form-control required-input" id="status" name="status">
                                    <option value="">Not Selected</option>
                                    <option th:each="status : ${T(com.eureka.capstone.domain.issue.IssueStatus).values()}"
                                            th:value="${status}"
                                            th:selected="${issue.status == status}"
                                            th:text="${status.displayValue}">
                                    </option>
                                </select>
                                <span hidden id="full" th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label" for="severity"
                                       th:text="#{issue.severity}"></label>
                                <select class="select form-control required-input" id="severity" name="severity">
                                    <option value="">Not Selected</option>
                                    <option th:each="severity : ${T(com.eureka.capstone.domain.issue.IssueSeverity).values()}"
                                            th:value="${severity}"
                                            th:selected="${issue.severity == severity}"
                                            th:text="${severity.displayValue}">
                                    </option>
                                </select>
                                <span hidden id="fullin" th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label required_label" for="type"
                                       th:text="#{issue.type}"></label>
                                <select class="select form-control required-input" id="type" name="type">
                                    <option th:each="type : ${T(com.eureka.capstone.domain.issue.IssueType).values()}"
                                            th:value="${type}"
                                            th:selected="${issue.type == type}"
                                            th:text="${type.displayValue}">
                                    </option>
                                </select>
                                <span hidden th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label required_label" for="assignee"
                                       th:text="#{issue.assignee}"></label>
                                <select class="select form-control required-input" id="assignee" name="assignee"
                                        th:value="${issue.assigneeId}">
                                    <option th:each="assignee : ${@userServiceImpl.getAllUsers()}"
                                            th:value="${assignee.getId()}"
                                            th:selected="${issue.assigneeId == assignee.getId()}"
                                            th:text="${assignee.getFullName()}">
<!--                                            th:style="${assignee.getProfileAvatar() == null} ?-->
<!--                                            'background-image: url(../static/images/no-avatar.png)' :-->
<!--                                            'background-image: url(data:image/jpg;base64,' + @userServiceImpl.extractAvatarPicture(assignee) + ')' "-->
                                    </option>
                                </select>
                                <span hidden id="full-name-valid-titlemmmmm" th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label required_label"
                                       th:text="#{issue.reporter}" for="reporter"></label>
                                <select class="select form-control required-input" id="reporter" name="reporter"
                                        th:value="${issue.reporterId}">
                                    <option th:each="reporter : ${@userServiceImpl.getAllUsers()}"
                                            th:value="${reporter.getId()}"
                                            th:selected="${issue.reporterId == reporter.getId()}"
                                            th:text="${reporter.getFullName()}">

<!--                                        <img alt="" class="rounded-circle avatar_issue z-depth-0 nav-image" data-holder-rendered="true"-->
<!--                                             src="images/no-avatar.png"-->
<!--                                             th:if="${reporter.getProfileAvatar() == null}">-->
<!--                                        <img alt="" class="rounded-circle avatar_issue z-depth-0 nav-image" data-holder-rendered="true"-->
<!--                                             th:if="${reporter.getProfileAvatar() != null}"-->
<!--                                             th:src="${'data:image/jpg;base64,' + @userServiceImpl.extractAvatarPicture(reporter)}">-->

                                    </option>
                                </select>
                                <span hidden th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label" for="send-confirmation-mail"
                                       th:text="#{issue.send.confirmation.mail}"></label>
                                <input name="send-confirmation-mail"
                                       id="send-confirmation-mail"
                                       th:value="${issue.isConfirmationMailSent}"
                                       th:checked="${issue.isConfirmationMailSent}"
                                       onclick="this.value = this.checked"
                                       type="checkbox"/>
                                <span hidden th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 margin-left-5">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label required_label" for="title"
                                       th:text="#{issue.title}"></label>
                                <textarea class="form-control required-input" id="title"
                                          name="title" type="text" style="width: 96%" th:field="*{title}"
                                          th:value="${issue.title}"></textarea>
                                <span hidden th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 margin-left-5">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label required_label" for="description"
                                       th:text="#{issue.description}"></label>
                                <div style="width: 96%">
                                <textarea class="form-control required-input"
                                          name="description" id="description"
                                          type="text"
                                          th:value="${issue.description}"
                                          th:text="${issue.description}"
                                          style="width: 100%; height: 150px;"></textarea>
                                </div>
                                <span hidden th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 margin-left-5">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label" for="testing-document"
                                       th:text="#{issue.testing.document}"></label>
                                <textarea class="form-control required-input" id="testing-document"
                                          name="testing-document" type="text" style="width: 96%"
                                          th:text="${issue.testingDocument}" th:value="${issue.testingDocument}"></textarea>
                                <span hidden th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 margin-left-5">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="form-group">
                                <label class="control-label" for="comment"
                                       th:text="#{issue.comment}"></label>
                                <textarea class="form-control required-input" id="comment"
                                          name="comment" type="text" style="width: 96%" th:text="${issue.comment}"
                                          th:value="${issue.comment}"></textarea>
                                <span hidden th:text="#{field.registration.fullName}">
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 margin-left-5">
                    <div class="row" style="margin-top: 5%">
                        <div class="row activity-buttons btn-group" style="margin-left: 2px">
                            <div class="col-sm-5">
                                <button class="btn activity-whiteButton btn-default cancel-btn"
                                        id="cancel-btn"
                                        style="height: 50px;"
                                        th:text="#{button.cancel}"
                                        type="button"></button>
                            </div>
                            <div class="col-sm-5">
                                <button class="btn activity-main-button btn-success add-activity-btn"
                                        style="height: 50px;
                                            border: 1px solid #DCDFF1;"
                                        th:text="#{button.update}"
                                        type="submit"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </form>
</div>
</body>
</html>