<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div class="container-xl container my-2" style=" box-shadow: 0 47px 74px -31px rgba(7, 40, 137, 0.19);">
    <div class="table-responsive">
        <div class="table-wrapper">

            <form method="post" th:action="@{/issues/delete}">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-3">
                            <h2><span sec:authorize="hasAnyAuthority('ADMIN_ROLE')">Manage</span> <b>Issues</b></h2>
                        </div>
                        <div class="col-sm-4" sec:authorize="hasAnyAuthority('ADMIN_ROLE')">
                            <a th:href="@{/issues/create}" class="btn"><i class="material-icons">&#xE147;</i> <span>Add New Issue</span></a>
                            <span id="deleteAllSelected" hidden><a href="#deleteSelectedIssuesModal" class="btn" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a></span>
                        </div>
                        <div id="myTable_filter" class="col-sm-5">
                            <label>
                                <input type="search" placeholder="🔎 Search" class="" aria-controls="myTable"
                                       style="border: none; border-radius: 5px; margin-left: 100%">
                            </label>
                        </div>
                    </div>
                </div>

                <table id="myTable" class="table table-responsive-md table-striped table-hover">
                    <thead>
                    <tr>
                        <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                        </th>
                        <th th:text="#{issue.product}"></th>
                        <th th:text="#{issue.type}"></th>
                        <th th:text="#{issue.title}"></th>
                        <th th:text="#{issue.severity}"></th>
                        <th th:text="#{issue.status}"></th>
                        <th th:text="#{issue.assignee}"></th>
                        <th th:text="#{issue.reporter}"></th>
                        <th th:text="#{issue.date.reported}"></th>
                        <th th:text="#{issue.date.fixed}"></th>
                        <th th:text="#{issue.date.closed}"></th>
                        <th th:text="#{issue.reports}"></th>
                        <th th:text="#{user.actions}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="issue : ${listIssues}">
                        <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" th:value="${issue.getId()}" />
								<label for="checkbox1"></label>
							</span>
                        </td>
                        <td th:text="${issue.getProduct().getName()}"></td>
                        <td th:text="${issue.getType().displayValue}"></td>
                        <td th:text="${issue.getTitle()}"></td>
                        <td th:text="${issue.getSeverity() != null} ? ${issue.getSeverity().displayValue} : '' "></td>
                        <td th:text="${issue.getStatus() != null} ? ${issue.getStatus().displayValue} : '' "></td>
                        <td th:text="${issue.getAssignee().getFullName()}"></td>
                        <td th:text="${issue.getReporter().getFullName()}"></td>
                        <td th:text="${issue.getReportDate()}"></td>
                        <td th:text="${issue.getFixDate()}"></td>
                        <td th:text="${issue.getCloseDate()}"></td>
                        <td>
                            <a style="margin-left: 25%;" th:href="@{/issues/{issueId}/reports(issueId=${issue.getId()})}"><i class="fas fa-file-alt"></i></a>
                        </td>
                        <td>
                            <a th:href="@{/issues/edit/{id}(id=${issue.getId()})}" class="edit" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteIssueModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            <input type="hidden" th:class="id" name="id" th:value="${issue.getId()}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteIssueModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" th:action="@{/issues/delete}">
                <div class="modal-header">
                    <h4 class="modal-title">Delete <b>Issue</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record?</p>
                    <p class="text-warning">This action cannot be undone.</p>
                </div>
                <div class="modal-footer activity-buttons btn-group" style="margin-left: 2px">
                    <button class="btn activity-whiteButton btn-default cancel-btn"
                            style="height: 50px;"
                            th:text="#{button.cancel}"
                            type="button" data-dismiss="modal"></button>
                    <button class="btn activity-main-button btn-success add-activity-btn"
                            style="height: 50px;
                                            border: 1px solid #DCDFF1;"
                            th:text="#{button.delete}"
                            type="submit"></button>
                    <input type="hidden" name="id" id="id-to-delete">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Selected Modal HTML -->
<div id="deleteSelectedIssuesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" th:action="@{/issues/delete-selected}">
                <div class="modal-header">
                    <h4 class="modal-title">Delete <b>Issues</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these records?</p>
                    <p class="text-warning">This action cannot be undone.</p>
                </div>
                <div class="modal-footer activity-buttons btn-group" style="margin-left: 2px">
                    <button class="btn activity-whiteButton btn-default cancel-btn"
                            style="height: 50px;"
                            th:text="#{button.cancel}"
                            type="button" data-dismiss="modal"></button>
                    <button id="deleteAllSelectedButton" class="btn activity-main-button btn-success add-activity-btn"
                            style="height: 50px;
                                            border: 1px solid #DCDFF1;"
                            th:text="#{button.delete}"
                            type="submit"></button>
                    <input type="hidden" name="ids" id="ids-to-delete">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>